{% extends "base.html" %}

{% block title %}Appweb Contactos{% endblock %}

{% block contenido %}

<div class="container">
  <div class="row">
    <h3>Borrar Categoria</h3>  
    <p>¿Estás seguro de borrar la categoría: {{eti.nombre}}</p>
      
    <form class="form-horizontal"  method="post">
      <div class="form-group">
        {{ form.csrf_token }}
        {{form.si(class="btn btn-primary") }} {{form.no(class="btn btn-primary")}}<br/><br/>
      </div>          
    </form>
    <div class="alert alert-danger">
      <strong>Atención!</strong> Si borras la categoría, se eliminarán todos los contactos asociados a ella.
  </div>
</div>
 	  
{% endblock %}
