body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

table {
    width: 80%;   /* Asegura que la tabla ocupe todo el ancho disponible con 100% */
    border-collapse: collapse;  /* Elimina los espacios entre celdas */
}

th, td {
    border: 1px solid #000;   /* border: 1px solid black;      Bordes para las celdas */
    padding: 8px;    /* Espaciado interno */
}

/* Justificar la primera columna a la izquierda   */
td:first-child {
    text-align: left;
}

/* Justificar el resto de las columnas a la derecha */
td:not(:first-child) {
    text-align: right;
}

h1 {
    margin: 0;
}

form {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #2c3e50;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #35424a;
}

a:hover {
    text-decoration: underline;
}