{% extends "base.html" %}

{% block title %}Appweb Contactos{% endblock %}

{% block contenido %}

<div class="container">
  <div class="row">

    <div class="col-md-2">
    <h3>Etiquetas...</h3>  
    <div class="list-group">
      
      {% for eti in etiquetas %}
        {% if etiqueta.nombre==eti.nombre %}
          <a class="list-group-item active" href="{{url_for("contactos",id=eti.id)}}">{{eti.nombre}}</a>
        {% else %}
          <a class="list-group-item" href="{{url_for("contactos",id=eti.id)}}">{{eti.nombre}}</a>
        {% endif %}
      {% endfor %}
      
    </div>
    <br/>
      {% if current_user.is_authenticated and current_user.is_admin() %}
        <a class="btn btn-primary" href="{{url_for('contactos_new')}}" role="button">Nuevo contacto</a>
      {% endif %}
    <br/>
  </div>

  <div class="col-md-10">
	    <h3>Contactos ... ({{etiqueta.nombre}})</h3>
	    <div class="panel panel-default">
  			
        <table class="table table-bordered">
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Notas</th>
            
            {% if current_user.is_authenticated and current_user.is_admin()  %}
              <th>Modificar</th>
              <th>Borrar</th>
            {% endif %}   
                      
          </tr>
  	    		{% for cont in contactos %}

  	    			<tr>
                <td>{{cont.nombre}}</td>
                <td>{{cont.apellidos}}</td>
                <td>{{cont.notas}}</td>
                
                {% if current_user.is_authenticated and current_user.is_admin()  %}
                  <td><a href="{{url_for('contactos_edit',id=cont.id)}}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a></td>
                  <td><a href="{{url_for('contactos_delete',id=cont.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                {% endif %}   
                
  	    			</tr>
  	    	
            {% endfor %}

          </table>
  	    
  	</div>
  </div>

</div>
 	
{% endblock %}
